h1{
    font-size:50px;
    margin-left: 40px;
}

h1, h3{
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(117, 77, 42)
}

a{
    background: #0000004d;
    color:blanchedalmond;
    text-decoration-color:blanchedalmond;
    display: inline;
}

a:hover{
    background-color: rgb(0, 0, 0);
}

.padding-top{

    padding-top: 100px;
}

label{
    display:block-inline;
    font-variant: small-caps;
    background: #0000004d;
    color: blanchedalmond;
}

.knapp {
    margin-left: 20px;
    margin-right: 20px;
    border: solid;
    background-color:#cd9a5895;
    padding: 10px;
    border-radius: 5px;
    display: inline;
}

body{
    background-image: url("../images/bakgrundsbild2.jpg");
    background-size:auto;
}

q{
    display: inline;
    color:blanchedalmond
}


img{
    float:left;
    border: inline;
    width:250px;
}

p{
    font-variant: small-caps;
    display: inline-block;
    background: #0000004d;
    color:blanchedalmond;
    margin-right: 50%
}
